@model IEnumerable<VirtualLibrary.Models.Entitys.Country>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<body>
    <link rel="stylesheet" href="~/css/index.css" />

    <table class="table">
        <thead>
            <tr class="line-table">
                <th>
                    @Html.DisplayNameFor(model => model.Id)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr style='background-color: @(item.Id % 2 == 0 ? "#ccdbfd" : "#c1d3fe");'>
                    <td>
                        @Html.DisplayFor(modelItem => item.Id)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        <a asp-controller="Countrys" asp-action="Update" asp-route-Id="@item.Id" class="btn btn-outline-info btn-sm">Edit</a> &empty;
                        <form asp-controller="Countrys" asp-action="Delete" asp-route-Id="@item.Id"><button class="btn btn-outline-danger btn-sm" type="submit">Delete</button></form>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</body>