@model IEnumerable<VirtualLibrary.Models.Entitys.Person>

@{
    ViewData["Title"] = "Persons";
}

<h1>Persons</h1>

<p>
    <button class="create-button"><a asp-action="Create" class="create-button-text">Create New</a></button>
</p>
<div class="form-inline pull-right" >
    <input type="text" class="form-control" id="Search" class="form-control" />
</div>
<body>
    <link rel="stylesheet" href="~/css/index.css" />

    <div class="table-div">



        <table class="table" id="personsTable">
            <thead>
                <tr class="line-table">
                    <th>
                        @Html.DisplayNameFor(model => model.Id)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.FullName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Cpf)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.BirthDate)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Email)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr style='background-color: @(item.Id % 2 == 0 ? "#ccdbfd" : "#c1d3fe");'>
                        <td>
                            @Html.DisplayFor(modelItem => item.Id)
                        </td>
                        <td id="nameTd">
                            @Html.DisplayFor(modelItem => item.FullName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Cpf)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.BirthDate)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Email)
                        </td>
                        <td>
                            <a asp-controller="Persons" asp-action="Update" asp-route-Id="@item.Id" class="btn btn-outline-info btn-sm">Edit</a> &empty;
                            <form asp-controller="Persons" asp-action="Delete" asp-route-Id="@item.Id"><button class="btn btn-outline-danger btn-sm" type="submit">Delete</button></form>

                        </td>
                    </tr>
                }
            </tbody>
        </table>
        @section Scripts{ 
        <script type="text/javascript"></script>
        <script>
            $('#Search').keyup(function () {
                var searchItem = $('#Search').val();
                if (searchItem == '' || searchItem == null || searchItem == undefined) {
                    $('#personsTable tbody tr').show();
                } else {
                    searchItem = searchItem.toLowerCase();
                    $('#personsTable tbody tr').hide();
                    $('#personsTable tbody tr').each(function () {
                        $row = $(this);
                        var name = $row.find('td:eq(1)').text().toLowerCase();
                        if (name.indexOf(searchItem) >-1) {
                            $(this).show();

                        } else { $(this).hide(); }
                    });
                }
            });
            
     
        </script>
        }
    </div>
</body>
